.wrapper {
  padding-top: 60vh;
}

.hero {
  position: relative;
}
.bgvideo {
  position: fixed;
  z-index: -1;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
}

.dark {
  color: var(--color-dark);
}

.input-group {
  display: grid;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
  }
}

.button {
  width: 100%;
}